body{
    background-image: url('./sary/okk.png');
   /* background-size: 250%;*/

}
.boutton{
    margin-top: 50px;
    margin-left:360px;
    border: 10px solid rgb(8, 225, 241);
    border-style: dotted solid;
    max-width: 320px;
    height: 260px;
    padding-left: 180px;
    padding-top: 180px;
    border-radius: 50%;
    box-shadow: 0PX 0PX 50px 5PX rgb(59, 232, 251);
}
a{
    color: antiquewhite;
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    max-width: 150px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#con{
    background-color: #008CBA;
}
#ins{
    background-color: #4CAF50;
}
.boutton:hover{
    border-style: solid;
    box-shadow: 0PX 0PX 50px 20PX rgb(59, 232, 251);   
}