.login{
    background-image: url('./sary/bcg.jpg');
}
#divcontainer{
    background-color: black;
    opacity: 0.8;
    max-width: 400px;
    height: 500px;
}
h1{
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
input{
    margin-bottom: 5Opx;
    width: 250px;
    height: 40px;
    margin-left: 60px;
    background-color: rgb(247, 240, 240);
    border: none;
    opacity:1;

}